<h2>Create an Author</h2>

<ul>
<% if flash[:message] %>
  <% flash[:message].each do |e|  %>   
     <li><%= e %> </li>
  <%= %> 
  <%end %>
  </ul> 
<%end %>

Use this Form:

<%= form_for @author do |f| %>
  <div>
  <%=f.label :name %>
  <%=f.text_field :name %>
  </div> 
  <div>
  <%=f.label :email %>
  <%=f.text_field :email %>
  </div>
  <div>
  <%=f.label :phone_number %>
  <%=f.text_field :phone_number %>
  </div>
  <%=f.submit "Create New Author" %>
  <%end%>
  <%= %>

<br><br><br>



